/* Write your CSS here */
.team-img {
  width: 100%;
  max-width: 50%;
}
.bg-2 {
  background-color: #a4261d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
